{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Nuevo Caso
{% endblock %}

{% block page_content %}



    <div class="row">
        <!-- left column -->
        <div class="col-md-9">



            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Nuevo Caso <span class="glyphicon glyphicon-file" aria-hidden="true"></span> </h3>
                </div>



                {#<div  class="row">
                    <div class="col-md-12">#}
                        <div id="mensaje" class="alert alert-success">
                            
                        </div>  
                    {#</div>
                </div> #}
                
                {#<div id="mensaje" class="row">
                    
                </div> #}


                {#{{ form_start(form) }}#}
                <form id="nuevo-documento" action="{{ path('planilla_guardar')}}" method="POST" >

                    <div class="box-body">
                        <div id="principal">{{ form_widget(form) }}</div>
                        <div id="formulario_tipo_requerimiento"></div>

                    </div>
                    <input type="hidden" id="planilla_tipo_caso_text" name="planilla[tipo_caso_text]"/>
                    <br><br>
                    <div class="box-footer" id="botones">
                        <button type="submit" name="submit" value="save" class="btn btn-success"> 
                            Guardar <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                        </button>
                        {#<button type="submit" name="submit" value="saveAndAdd" class="btn btn-info"> 
                            Guardar y Agregar <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>#}
                    </div>

                </form>
                {#{{ form_end(form) }}#}

                <hr/>

                <div class="form-group">
                    <a class="btn btn-default" href="{{ path('planilla') }}">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        Volver al listado
                    </a>
                </div>

            </div>

        </div>
    </div>

{% endblock %}


{% block stylesheets_inline %}

    <link rel="stylesheet" href="{{ asset('bundles/avanzuadmintheme/vendor/adminlte/plugins/datepicker/datepicker3.css') }}" />
{% endblock %}

{% block javascripts_inline %}    

    <script>

        $(document).ready(function () {

            $('#botones').hide();
            $('#mensaje').hide();

            $('#planilla_tipo_caso').change(function () {

                $('#mensaje').hide();

                if ($('#planilla_tipo_caso').val() == "") {

                    $('#mensaje').hide();
                    $('#formulario_tipo_requerimiento').hide();
                    $('#botones').hide();

                } else {

                    var data = "tipo_requerimiento=" + $('#planilla_tipo_caso').val();

                    $.ajax({
                        url: "{{ path('planilla_mostrar_formulario') }}",
                        method: "post",
                        data: data,
                        success: function (html) {
                            
                            


                            $('#formulario_tipo_requerimiento').html(html);
                            $('#formulario_tipo_requerimiento').show();
                            $('#botones').show();

                        }


                    });

                }
            });

            $('#nuevo-documento').submit(function (e) {

                var $form = $('#nuevo-documento');

                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $("#nuevo-documento").serialize(),
                    dataType: 'json',
                    
                    beforeSend: function (xhr) {

                        /*$('#listado_involucrados').html(
                         'Cargando...'
                         );*/
                    },
                    success: function (json) {

                        $('#mensaje').show();
                        $('#mensaje').html(json.mensaje);
                        
                        $('#principal').show();
                        $('#planilla_tipo_caso').val("")

                        $('#formulario_tipo_requerimiento').hide();
                        $('#formulario_tipo_requerimiento').html("");
                        $('#botones').hide();

                    },
                    error: function (xhr, status) {
                        alert('Disculpe, ocurrió un problema');
                    },
                });
                e.preventDefault();
            });


        });

    </script>
{% endblock %}
