{% extends 'FgimenezTestBundle::Noticia/frontend/index.html.twig' %}

{% block partial %}
    <div class="blog-item">
        <img class="img-responsive img-blog" src="/uploads/test_noticia/{{ item.imagen }}" width="100%" alt="" />
        <div class="row">  
            <div class="col-xs-12 col-sm-2 text-center">
                <div class="entry-meta">
                    <span id="publish_date">{{ item.fecha | date('d/m/Y') }}</span>
                    <span><i class="fa fa-user"></i> <a href="#"> John Doe</a></span>
                    <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                    <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-10 blog-content">
                <h3>{{ item.antetitulo }}</h3>
                <h2>{{ item.titulo }}</h2>
                <p>
                    {{ item.contenido|raw }}
                </p>
            </div>
        </div>
    </div><!--/.blog-item-->
{% endblock %}
